.header_pendientes {
    display: flex;
    justify-content: space-around;
}

.seccion_tarjetas {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.seccion_tarjetas .general_card_contenedor {
    width: 50%;
    border: 1px solid black;
    padding: 5px;
}

.general_card_contenedor .general_card {
    border: 1px solid black;
}

.btn_nuevo_pendiente {
    position: fixed;
    right: 10px;
    bottom: 10px;
}